.pt_custommenu {
    position:relative;
}
.pt_custommenu div.pt_menu {
	float: left;
	list-style: none;
	position: relative;
	padding: 14px 0;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
	font-size: 14px;
	text-decoration: none;
	display: block;
	line-height: 22px;
	color: #fff;
	text-transform: capitalize;
	border-right: 1px solid #606060;
	padding: 0 20px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
}
.pt_custommenu div.pt_menu.active {
color: #e98388
  
}
.pt_custommenu div.popup {
    position:absolute;
    z-index:3000;
    border:5px solid #FFC0CB;
    background-color:#fff;
    text-align:left;
    padding: 15px;
    margin: 0;
}
.pt_custommenu div.pt_menu .parentMenu a:hover,
.pt_custommenu div.pt_menu .parentMenu span.block-title:hover,
.pt_custommenu #pt_menu_link ul li a.act,
.pt_custommenu #pt_menu_link ul li a:hover,
.pt_custommenu div.pt_menu.act a {
   color: #26acce!important;
}
.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}


.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemMenu a.level1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #555555;
}
.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemSubMenu h4.level2 span{
    color: #897725;
}
.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu a.level1.nochild{
    background: url("../images/black-dot.jpg") no-repeat left center;
    color: #555555;
    padding-left: 8px;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
}
.pt_custommenu .itemSubMenu a.level2:hover,
.pt_custommenu .itemMenu a.level1.nochild:hover{
    color: #A52A2A;
}
.pt_custommenu div.popup a.actParent {
    color: #4D4D4D;
}
.pt_custommenu div.popup a.act {
    color: #A52A2A !important;
}
.pt_custommenu div.column {
    float:left;
    width:200px; /* column width */
    margin-right: 5px;
    padding-right: 5px;
    border-right: 3px solid #c2b160;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_custommenu div.itemSubMenu {
    margin-left:15px;
}

.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}

/*mobile menu*/

/*------Accordion ---------*/
/********** < Navigation */

.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    height: auto;
    display: none;
	padding: 3px 0 0 0;
	border-top:0;
	 float:left;
	 width:100%;
	 margin-bottom:10px;
}
.posmegamenu {
	position:relative;
	line-height:0;
}
.nav-collapse, .nav-collapse.collapse {
}
.navbar-inner {
    background: #26ACCE;
    border: 0;
    border-radius: 0;
	min-height:50px;
}
.navbar .btn-navbar {
position: absolute;
right: 10px;
top: 8px;
margin:0;
padding:0;
border-radius: 3px;
text-align:center;
overflow:hidden;
}
.navbar .btn-navbar:before {
content: "\f03a ";
font-family: "FontAwesome";
font-size: 24px;
color: #fff;
margin:0;
padding:0;
}
.navbar .btn-navbar:hover { }
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
	text-transform:uppercase;
    font-size: 18px;
    font-weight: normal;
	line-height:50px;
	display:inline-block;
	padding-left:20px;
}
.mobilemenu {
	list-style-type: none;
	padding: 0;
    margin: 0;

}
.collapse.in {

}
.mobilemenu ul {
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	width: 100%;
}
.mobilemenu li {
   background: #faf8f8;
cursor: pointer;
list-style-type: none;
padding: 0;
margin: 0;
float: left;
display: block;
width: 100%;
position: relative;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
	/*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
	padding: 20px;
	background: #aef;
	display: block;
	clear: both;
	float: left;
	width: 360px;
}
.mobilemenu a {
	text-decoration: none;
	border-bottom: 1px solid #e0d8d8;
	line-height: 40px;
	font-weight: normal;
	color: #111;
	margin: 0 15px;
	display: block;
	cursor: pointer;
	font-size: 14px;
	text-transform: capitalize;
}
.mobilemenu li.active a, .mobilemenu a:hover {
	color: #26acce;
}

.mobilemenu ul a {

}
.mobilemenu ul a:hover, .mobilemenu ul li.active a {
	color: #ff9e21 !important;
}

.mobilemenu ul ul a, .mobilemenu ul li.active ul a {
	color: #fff !important;
}
.mobilemenu ul ul a:hover, .mobilemenu ul ul li.active a, .mobilemenu ul li.active ul a:hover {
	color: #ff9e21 !important;
}

.mobilemenu ul ul ul a, .mobilemenu ul ul li.active ul a {
	color: #fff !important;
}
.mobilemenu ul ul ul a:hover, .mobilemenu ul ul ul li.active a, .mobilemenu ul ul li.active ul a:hover {
	color: #ff9e21 !important;
}

.mobilemenu ul ul ul ul a, .mobilemenu ul ul ul li.active ul a {
	color: #fff !important;
}
.mobilemenu ul ul ul ul a:hover, .mobilemenu ul ul ul ul li.active a, .mobilemenu ul ul ul li.active ul a:hover {
	color: #ff9e21 !important;
}



.mobilemenu li.parent>a {
	/*background: url('../images/open.gif') no-repeat center right;*/
}

.mobilemenu li ul li {
    font-size: 0.9em;

}
.mobilemenu li.active>ul {

}

.mobilemenu ul a {
	padding-left: 25px;
}
.mobilemenu ul ul a {
	padding-left: 40px;
}
.mobilemenu ul ul ul a {
	padding-left: 55px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 70px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 85px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
	position: absolute;
	top: 15px;
	right: 10px;
}
.mobilemenu .OPEN a:before {
content: "\f068 ";
font-family: "FontAwesome";
line-height: 34px;
font-size: 14px;
position: absolute;
top: -8px;
right: 17px;
}
.mobilemenu .CLOSE a:before {
content: "\f067 ";
font-family: "FontAwesome";
line-height: 34px;
font-size: 14px;
position: absolute;
top: -8px;
right:17px;
}
.mobilemenu span.head a { 
	display:block;
	height:15px;
	padding:0;
	width:15px;
	border: 0;

}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.head a {

}
.mobilemenu li.selected span.head a {

}
