/* block top search */
#pos_search_top{
}
#pos_search_top p {padding:0;}
#pos_search_top #pos_query_top {
    font-size: 12px;
	width: 65%;
	height: 46px;
	margin: 0;
	border: none;
	background: none;
	padding: 10px;
	float:left;
}
#pos_search_top .form-control:focus {
	border-color:none !important;
	box-shadow:none !important;
}
#pos_search_top .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	color: #333;
	border-color:none;
}
#pos_search_top  .btn  {
	overflow: visible;
	width: auto;
	border: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	cursor: pointer;
}
#pos_search_top .search_submit{
	float:right;
	height: 50px;
	width: 50px;
	margin:-2px;
	line-height: 46px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	display: block;
	position:relative;
	background:#26ACCE;
}

#pos_search_top .button {
	border:none;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	background:url(img/bg_search_submit.png) repeat-x 0 0 #101010;
	float: left;
	height: 25px;
}
form#searchbox{
	width: 100%;
	float: left;
	position: relative;
	border: 2px solid #bebebe;

}
form#searchbox label{
	color:#333;margin-bottom:1px; display:none;
}
#pos_search_top  .bootstrap-select {
	width:auto;
	float:left;
}
#pos_search_top .dropdown-toggle {
	text-shadow: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0 25px 0 15px;
	line-height:46px;
	height: 46px;
	text-transform:capitalize;
	font-size: 13px;
	position:relative;
}
#pos_search_top .dropdown-toggle:before {

	content: "";
	border-right:1px solid #CCC;
	display: block;
	height: 70%;
	position: absolute;
	right: 0;
	top: 7px;
}

form#searchbox input#pos_query_block{
	border: 1px solid #CCCCCC;
	-webkit-border-radius:3px !important;
	-moz-border-radius:3px !important;
	border-radius:3px !important;
    height: 18px;
	margin-top:10px;
}
form#searchbox input#search_button{padding: 1px 4px;}
.pos_search{
 display: inline;
}
#header .wrap_seach{
}
.ac_loading {
    background: white url('img/ajax-loader.gif') right center no-repeat;
}
.ac_results {
    text-align: left;
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}
